@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Playfair:wght@300&family=Roboto:wght@300&display=swap");

/* 
font-family: 'Bitter', serif;
font-family: 'Playfair', serif;
font-family: 'Roboto', sans-serif;
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* background-image: url(); */
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
}

.margin {
	margin: 10px 20px;
	padding: 10px;
}

.border {
	border: 1px solid black;
	border-radius: 5px;
	outline: none;
}

.main-container {
	width: 50%;
	height: 80%;
	/* border: 1px solid green; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 3px solid black;
	box-shadow: 8px 8px black;
	text-align: center;
}

.main-container .header {
	font-family: "Bitter", serif;
	text-transform: capitalize;
}

.main-container .content-holder {
	height: 65%;
	width: 95%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main-container .content {
	font-size: 1.1rem;
	font-family: "Playfair", serif;
}
.main-container .content h5 {
	margin-top: 5px;
}

.button {
	background-color: transparent;
	font-family: "Roboto", sans-serif;
	cursor: pointer;
	transition: 0.4s;
	font-weight: bolder;
	outline: none;
	border: 2.2px solid black;
}
.button:hover {
	background-color: gainsboro;
}
.button:active {
	background-color: gray;
}
